.exemple {
  background-color: @bg-grey;
}

.exemple__wrapper {
  .container-mobile();
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exemple__title {
  .headline;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 23px;
  align-self: flex-start;
}

.exemple__text {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 2px;
}

.exemple__measures {
  margin-bottom: 34px;
}

.exemple__cost {
  .headline-up;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.exemple__image {
  margin-bottom: 33px;
}

@media (min-width: @tablet) {
  .exemple__wrapper {
    .container-tablet();
    /* background-image: linear-gradient(to bottom, @white, @bg-grey); */
    padding-top: 45px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .exemple__title {
    font-size: 60px;
    margin-bottom: 64px;
  }

  .exemple__text {
    margin-bottom: 52px;
  }

  .exemple__measures {
    margin-bottom: 80px;
  }

  .exemple__cost {
    font-size: 20px;
    text-align: right;
    position: absolute;
    width: 190px;
    right: 31px;
    top: 300px;
    line-height: 30px;
  }

  .exemple__image {
    margin-bottom: 66px;
  }
}

@media (min-width: @desktop) {
  .exemple__wrapper {
    .container-desktop();
  }
}
