.exemple {
  background-color: @bg-grey;
}

.exemple__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container-mobile();
  padding-top: 18px;
}

.exemple__title {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 23px;

  .headline;
  font-size: 36px;
  line-height: 60px;
}

.exemple__text {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 2px;
}

.exemple__measures {
  margin-bottom: 34px;
}

.exemple__cost {
  margin: 0;
  margin-bottom: 40px;

  .headline-up;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.exemple__image {
  margin-bottom: 33px;
}

@media (min-width: @tablet) {
  .exemple__wrapper {
    position: relative;

    flex-direction: column;
    align-items: flex-start;
    .container-tablet();
    padding-top: 45px;
    /* background-image: linear-gradient(to bottom, @white, @bg-grey); */
  }

  .exemple__title {
    font-size: 60px;
    margin-bottom: 64px;
  }

  .exemple__text {
    margin-bottom: 52px;
  }

  .exemple__measures {
    margin-bottom: 80px;
  }

  .exemple__cost {
    position: absolute;
    top: 300px;
    right: 31px;

    width: 190px;

    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  .exemple__image {
    margin-bottom: 66px;
  }
}

@media (min-width: @desktop) {
  .exemple__wrapper {
    .container-desktop();
    padding-top: 26px;
    padding-right: 810px;
    padding-bottom: 30px;
  }

  .exemple__title {
    margin-bottom: 146px;
  }

  .exemple__text {
    margin-bottom: 68px;
  }

  .exemple__measures {
    margin-bottom: 55px;
  }

  .exemple__cost {
    position: relative;
    top: 0;
    right: 0;

    display: flex;
    width: 330px;
  }

  .exemple__image {
    position: absolute;

    width: 300px;
    right: 100px;
  }
}
