.exemple {
  background-color: @grey;
}

.exemple__title {
  .headline;
  font-size: 36px;
  line-height: 60px;
}

.exemple__cost {
  .headline-up;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
