.extra-card {
  display: flex;
  flex-direction: column;
}

.extra-card__title {
  .headline-up;
  font-size: 16px;
  line-height: 16px;
  color: @form-black;
}

.extra-card__desc {
  line-height: 14px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet) {
  .extra-card {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .extra-card__title {
    font-size: 20px;
    line-height: 20px;
  }

  .extra-card__desc {
    line-height: 20px;
    justify-content: flex-end;
  }
}

@media (min-width: @desktop) {
  .extra-card {
    flex-wrap: nowrap;
  }

  .extra-card__desc {
    width: 284px;
    justify-content: space-between;
  }
}
