.extra {
  .container-mobile();
  margin-bottom: 34px;
}

.extra__headline {
  margin: 0;
  margin-bottom: 36px;

  .headline;
  font-size: 24px;
  line-height: 24px;
}

/* .extra__offers {
  display: flex;
  flex-direction: column;
 } */

.extra__list {
  display: flex;
  flex-direction: column;

  .list-reset();
  margin-bottom: 39px;
}

@media (min-width: @tablet) {
  .extra {
    .container-tablet();
    margin-bottom: 75px;
  }

  .extra__headline {
    margin-bottom: 81px;
    padding-left: 37px;

    font-size: 36px;
    line-height: 36px;
  }

  .extra__list {
    margin-bottom: 69px;
  }
}

@media (min-width: @desktop) {
  .extra {
    .container-desktop();
  }

  .extra__offers {
    flex-direction: row;
    /* justify-content: space-between; */
  }

  .extra__headline {
    font-size: 36px;
    line-height: 36px;
  }
}
