.page-footer {
  background-color: @bg-grey;
}

.page-footer__wrapper {
  .container-mobile();
  font-size: 16px;
  line-height: 16px;

  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet) {
  .page-footer__wrapper {
    .container-tablet();
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop) {
  .page-footer__wrapper {
    .container-desktop();
  }
}
