.product-card {
  display: flex;
  flex-wrap: wrap;
}

.product-card__title {
  .headline-up;
  font-size: 16px;
  line-height: 20px;
}

.product-card--all {
  text-align: center;
}

.product-card__text {
  font-size: 12px;
  line-height: 16px;
}

.product-card__all {
  background-color: @bg-grey;
  color: @text-grey;
}

@media (min-width: @tablet) {
  .product-card {
    flex-direction: column;
    flex-wrap: nowrap;

    width: 324px;
  }
}

@media (min-width: @desktop) {
  .product-card {
    width: 245px;
  }
}
