.product-card {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 0 18px;
  padding-top: 21px;
  padding-bottom: 24px;

  border: 1px solid @bg-grey;
  border-bottom: none;
}

.product-card__img {
  position: absolute;
  top: 0;
  left: 19px;
}

.product-card__info {
  align-self: flex-end;

  width: 140px;
}

.product-card__title {
  margin: 0;
  margin-bottom: 13px;
  padding-right: 42px;

  .headline-up;
  font-size: 16px;
  line-height: 20px;
}

.product-card__desc {
  margin-bottom: 22px;
}

.product-card--all {
  padding-top: 79px;

  text-align: center;

  border-bottom: 1px solid @bg-grey;
}

.product-card--all::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;

  width: 30px;
  height: 30px;
  margin-left: -15px;

  background-image: url(../../img/icon-plus-mobile.svg);
}

.product-card--all .product-card__title {
  margin-bottom: 8px;
  padding: 0;
  padding-left: 1px;
}

.product-card__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 16px;
}

.product-card__all {
  color: @text-grey;

  background-color: @bg-grey;
}

@media (min-width: @tablet) {
  .product-card {
    flex-direction: column;
    flex-wrap: nowrap;

    width: 324px;
  }
}

@media (min-width: @desktop) {
  .product-card {
    width: 245px;
  }
}
